# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

TestMachineLearn/.vsconfig
TestMachineLearn/TestMachineLearn.sln
TestMachineLearn/.vs/
TestMachineLearn/Binaries/
TestMachineLearn/Intermediate/
TestMachineLearn/Saved/
TestMachineLearn/DerivedDataCache
TestMachineLearn/Plugins/Network/Binaries/
TestMachineLearn/Plugins/Network/Intermediate/
TestMachineLearn/Content/StarterContent/

